/* Navbar.css */

.navbar {
  background: #FFF;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}

.nav-links {
  display: flex;
  align-items: baseline;
  gap: 70px; /* Adjust the gap between links as needed */
}

.nav-link {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 17.198px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.action-button {
  padding: 10px 20px;
  background: var(--shady-yellow, linear-gradient(180deg, #FFE52E 21.22%, #C2AA00 85.36%));
  color: #000; /* Text color */
  border: none;
  border-radius: 5.518px; /* Updated border-radius */
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: space-around; /* Updated justify-content */
}
