.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div {
    background-color: #ffffff;
    width: 1920px;
    height: 11239px;
    position: relative;
  }
  
  .frame .overlap-group {
    position: absolute;
    width: 1920px;
    height: 1546px;
    top: 0;
    left: 0;
  }
  
  .frame .group {
    position: absolute;
    width: 1920px;
    height: 1378px;
    top: 0;
    left: 0;
  }
  
  .frame .untitled {
    position: absolute;
    width: 1190px;
    height: 974px;
    top: 0;
    left: 410px;
    object-fit: cover;
  }
  
  .frame .dust-roboai {
    position: absolute;
    width: 1280px;
    height: 680px;
    top: 29px;
    left: 320px;
    mix-blend-mode: lighten;
  }
  
  .frame .titanium-spott {
    position: absolute;
    width: 784px;
    height: 406px;
    top: 210px;
    left: 836px;
  }
  
  .frame .img {
    position: absolute;
    width: 573px;
    height: 278px;
    top: 347px;
    left: 261px;
  }
  
  .frame .step-into-the-future {
    position: absolute;
    width: 554px;
    height: 104px;
    top: 221px;
    left: 340px;
  }
  
  .frame .a-day-industrial {
    position: absolute;
    width: 768px;
    height: 61px;
    top: 527px;
    left: 342px;
  }
  
  .frame .group-2 {
    position: absolute;
    width: 260px;
    height: 56px;
    top: 653px;
    left: 342px;
  }
  
  .frame .group-3 {
    position: absolute;
    width: 317px;
    height: 56px;
    top: 653px;
    left: 1249px;
  }
  
  .frame .group-4 {
    position: absolute;
    width: 260px;
    height: 56px;
    top: 653px;
    left: 630px;
  }
  
  .frame .group-5 {
    position: absolute;
    width: 1920px;
    height: 78px;
    top: 0;
    left: 0;
  }
  
  .frame .group-6 {
    position: absolute;
    width: 1814px;
    height: 1088px;
    top: 457px;
    left: 53px;
  }
  
  .frame .group-7 {
    position: absolute;
    width: 1280px;
    height: 274px;
    top: 1198px;
    left: 322px;
  }
  
  .frame .overlap {
    position: absolute;
    width: 1297px;
    height: 640px;
    top: 1625px;
    left: 303px;
  }
  
  .frame .why-should-you {
    position: absolute;
    width: 529px;
    height: 49px;
    top: 3px;
    left: 377px;
  }
  
  .frame .mask-group {
    position: absolute;
    width: 862px;
    height: 640px;
    top: 0;
    left: 0;
  }
  
  .frame .group-8 {
    position: absolute;
    width: 571px;
    height: 454px;
    top: 107px;
    left: 726px;
  }
  
  .frame .group-9 {
    position: absolute;
    width: 372px;
    height: 71px;
    top: 2307px;
    left: 774px;
  }
  
  .frame .group-10 {
    position: absolute;
    width: 1282px;
    height: 215px;
    top: 2421px;
    left: 319px;
  }
  
  .frame .group-11 {
    position: absolute;
    width: 260px;
    height: 56px;
    top: 2725px;
    left: 686px;
  }
  
  .frame .group-12 {
    position: absolute;
    width: 260px;
    height: 56px;
    top: 2725px;
    left: 974px;
  }
  
  .frame .vector-wrapper {
    position: absolute;
    width: 1920px;
    height: 1117px;
    top: 2874px;
    left: 0;
    background-image: url(./img/group-1266.png);
    background-size: 100% 100%;
  }
  
  .frame .vector {
    position: absolute;
    width: 508px;
    height: 14px;
    top: 525px;
    left: 706px;
  }
  
  .frame .overlap-2 {
    position: absolute;
    width: 990px;
    height: 926px;
    top: 4073px;
    left: 511px;
  }
  
  .frame .timeline {
    position: absolute;
    width: 206px;
    height: 38px;
    top: 21px;
    left: 346px;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 884px;
    height: 394px;
    top: 212px;
    left: 0;
  }
  
  .frame .group-13 {
    position: absolute;
    width: 990px;
    height: 298px;
    top: 28px;
    left: 0;
  }
  
  .frame .group-14 {
    position: absolute;
    width: 990px;
    height: 298px;
    top: 485px;
    left: 0;
  }
  
  .frame .group-15 {
    position: absolute;
    width: 990px;
    height: 298px;
    top: 628px;
    left: 0;
  }
  
  .frame .group-16 {
    position: absolute;
    width: 585px;
    height: 230px;
    top: 284px;
    left: 89px;
  }
  
  .frame .vector-2 {
    position: absolute;
    width: 48px;
    height: 78px;
    top: 0;
    left: 292px;
  }
  
  .frame .overlap-3 {
    position: absolute;
    width: 1814px;
    height: 1678px;
    top: 5077px;
    left: 53px;
  }
  
  .frame .group-17 {
    position: absolute;
    width: 1151px;
    height: 877px;
    top: 0;
    left: 326px;
  }
  
  .frame .group-18 {
    position: absolute;
    width: 1814px;
    height: 1088px;
    top: 589px;
    left: 0;
  }
  
  .frame .previous-stories {
    position: absolute;
    width: 373px;
    height: 38px;
    top: 6823px;
    left: 774px;
  }
  
  .frame .hear-from-our {
    position: absolute;
    width: 520px;
    height: 38px;
    top: 7669px;
    left: 701px;
  }
  
  .frame .overlap-4 {
    position: absolute;
    width: 1531px;
    height: 636px;
    top: 6899px;
    left: 193px;
  }
  
  .frame .group-19 {
    position: absolute;
    width: 1531px;
    height: 352px;
    top: 284px;
    left: 0;
  }
  
  .frame .testi {
    position: absolute;
    width: 1432px;
    height: 590px;
    top: 0;
    left: 51px;
  }
  
  .frame .overlap-5 {
    position: absolute;
    width: 1531px;
    height: 590px;
    top: 7745px;
    left: 194px;
  }
  
  .frame .testi-2 {
    position: absolute;
    width: 1432px;
    height: 590px;
    top: 0;
    left: 50px;
  }
  
  .frame .group-20 {
    position: absolute;
    width: 1531px;
    height: 22px;
    top: 284px;
    left: 0;
  }
  
  .frame .overlap-6 {
    position: absolute;
    width: 1401px;
    height: 698px;
    top: 8468px;
    left: 309px;
  }
  
  .frame .FA-qs {
    position: absolute;
    width: 128px;
    height: 38px;
    top: 2px;
    left: 583px;
  }
  
  .frame .group-21 {
    position: absolute;
    width: 1401px;
    height: 381px;
    top: 0;
    left: 0;
  }
  
  .frame .group-22 {
    position: absolute;
    width: 1301px;
    height: 131px;
    top: 356px;
    left: 0;
  }
  
  .frame .group-23 {
    position: absolute;
    width: 1301px;
    height: 131px;
    top: 461px;
    left: 0;
  }
  
  .frame .group-24 {
    position: absolute;
    width: 1301px;
    height: 131px;
    top: 566px;
    left: 0;
  }
  